<% if @languages.any? %>
  <h2>Search results for <%= @search_query %>:</h2>
  <div>
    <% @languages.each do |language| %>
      <p>Name: <%= language.name %></p>
      <p>Type: <%= language.type %></p>
      <p>Designed by: <%= language.designed_by %></p><br>
    <% end %>
  </div>
<% else %>
  <p>No languages found for <%= @search_query %>.</p>
<% end %>
