<div class="container-fluid bg-info text-light p-5">
    <div class="container bg-dark p-5  text-center">
        <h1 class="display-6">Welcome to Search Engine of Programming Languages</h1>
        <hr>
        <p class="text-info p-3 fs-4">You can search any language by name, designer, type, combunation of type and designer. Also you can use negative searches!</p>
        <%= image_tag("home.jpg", class:"img-fluid")%>
    </div>
</div>


<div class="container">
  <h1>Home</h1>
<%= link_to "Show languages", languages_path %> |
<%= link_to "Search by name", search_by_name_path %> |
<%= link_to "Search by type or designer", search_by_type_or_designer_path %> |
<%= link_to "Search by designer", search_by_designer_path %>
</div>
